<div>
  <label for="contact-name">Name: </label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email: </label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone: </label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image: </label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>

<ul class="container" *ngFor="let contact of contacts">
  <li>
    <label for="contact-name">Name: </label>
    <h4>{{contact.name}}</h4>
    <br>
    <label for="contact-email">Email: </label>
    <h4>{{contact.email}}</h4>
    <br>
    <label for="contact-phone">Phone: </label>
    <br>
    <h4>{{contact.phoneNumber}}</h4>
    <label for="contact-image">Image: </label>
    <br>
    <img src="{{contact.image}}" alt="imgContact" width="100" height="100">
  </li>
</ul>
